@import '../helpers/variables';

.o-grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

@media screen and (min-width: $tablet) {
.o-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 1fr 3fr 1fr;
  }
}