section.c-footer.o-grid.js-bgc--dk
      .c-footer__talk
        h2 Let's Talk
        a(href="contact.html")
          button.btn-prime Start Here
      .c-footer__links
        .c-footer__links--internal
          ul
            li 
              a.js-text-link(href="index.html", data-value="Home") Home
            li 
              a.js-text-link(href="about.html", data-value="About") About
            li 
              a.js-text-link(href="work.html", data-value="Work") Work
        .c-footer__links--socials
          a(href="" alt="CodePen link")
            img.social(src="images/codepen.svg", alt="")
          a(href="" alt="LinkedIn link")
            img.social(src="images/linkedin-light.svg", alt="")
      .c-footer__copyright
        p ©J∆ke Miller