include nav
header
  .o-logo.js-logo
    a(href="index.html")
      img.js-logo--lt.o-logo--lt(src="images/logo.svg")
  .js-icon.o-icon.js-icon-rise
    a(href="#")
      img.js-icon--dk.o-icon--dk(src="images/icon-dk.svg")
      img.js-icon--lt.o-icon--lt.js-logo-invisible(src="images/icon-lt.svg")
.o-circle.js-circle.js-circle--invisible
  img(src="/images/eye-light-slow.svg", alt="")
.o-circle-links.js-links.js-links-invisible
  img.js-links-icon(src="images/links.svg", alt="")
.o-circle-airplane.js-airplane.js-airplane-invisible
  img.js-airplane-icon(src="images/airplane.svg", alt="")