nav
  .c-burger.js-burger
    input.c-burger__toggler(type='checkbox')
    .js-burger__container.c-burger__container--lt
    .c-burger__bg
    .c-burger__menu
      p.js-nav-menu--buid
        b Menu
      ul 
        a(href="#")
          li.js-nav-menu--buid.js-nav-animation-home.js-text-link.c-burger__menu--home(data-value="Home")
        a(href="work.html")
          li.js-nav-menu--buid.js-nav-animation-work.js-text-link.c-burger__menu--work(data-value="Work")
        a(href="about.html")
          li.js-nav-menu--buid.js-nav-animation-about.js-text-link.c-burger__menu--about(data-value="About")
      a(href="contact.html")
        h4.js-nav-menu--buid.js-nav-animation-talk.js-text-link(data-value="Let's Talk")
      .js-nav-menu--buid.c-burger__menu--icons
        .icons
          img.social(src="images/codepen.svg", alt="")
          img.social(src="images/linkedin-light.svg", alt="")
        span.disclaimer ©Jake Miller — Building since 2008
    .c-burger--divider