@import url("https://use.typekit.net/rik8vfz.css");
@import url("https://use.typekit.net/rik8vfz.css");
@import url("https://use.typekit.net/rik8vfz.css");
::-moz-selection {
  background-color: #00ff00;
  color: #3B3B3B; }
::selection {
  background-color: #00ff00;
  color: #3B3B3B; }

h1 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(3.5em, 18vw, 4em);
  line-height: .8;
  text-transform: uppercase; }

h2 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(2.5em, 10.5vw, 3em);
  line-height: 1; }

h3 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  color: #3B3B3B;
  font-size: 2.8em; }

h4 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1.5em, 2.5vw, 2em); }

h5 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 5.25vw, 2em);
  line-height: 1.42; }

h6 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 2.5vw, 1.5em); }

p, li {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-size: clamp(1em, 1.05vw, 1.1em);
  font-weight: 500;
  line-height: 1.5; }

span {
  color: inherit;
  font-family: "menca", sans-serif; }

.disclaimer {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-size: clamp(1em, 1.05vw, 1.1em);
  font-weight: 500;
  line-height: 1.5; }

p {
  margin: 0 0 1.5em 0; }

sup, sub {
  font-size: .5em; }

button {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 4vw, 1.15em);
  font-weight: 600; }

.o-disclaimer {
  font-size: 0.625em; }

.custom_li {
  display: inline-block; }

.o-bgc-lt h1, .o-bgc-lt h2, .o-bgc-lt h3, .o-bgc-lt h4, .o-bgc-lt h5, .o-bgc-lt h6, .o-bgc-lt p, .o-bgc-lt li {
  color: #3B3B3B; }

nav h4, nav p, nav .disclaimer {
  color: #EDE9E4; }

.c-hero h1, .c-hero h5 {
  color: #EDE9E4; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 11.5vw; }
  h5 {
    font-size: 3vw; }
  button {
    font-size: clamp(1em, 4vw, 1.1em); } }

@media screen and (orientation: landscape) {
  h1 {
    font-size: 7.5vw; }
  h5 {
    font-size: clamp(1em, 4vw, 1.15em); }
  button {
    font-size: clamp(1em, 4vw, 1.15em); } }

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 7.5vw; }
  h2 {
    font-size: 3vw; }
  h5 {
    font-size: 1.3vw; }
  h6 {
    font-size: clamp(1em, 2.5vw, 1.35em); } }

footer {
  background: #3B3B3B;
  -ms-grid-rows: 1fr 1fr 1fr 1fr .5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr .5fr;
  height: 100dvh; }
  footer h2, footer li, footer p {
    color: #EDE9E4; }
  footer h2 {
    font-size: 17.25dvw;
    margin: 0 0 .25em 0; }
  footer__talk {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2; }
  footer__links {
    border-top: 1px solid #EDE9E4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0; }
    footer__links ul, footer__links li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 0 .5em 0;
      padding: 0;
      font-size: 1.1em;
      font-weight: 800;
      line-height: 1; }
    footer__links a {
      color: #47E0FC; }
    footer__links img {
      margin: 0;
      width: 2.5em; }
  footer__copyright {
    position: absolute;
    inset: auto auto 0 0;
    width: 100dvw; }
    footer__copyright p {
      font-size: 16dvw;
      font-weight: 900;
      line-height: 1;
      margin: 0;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      translate: -2dvw 2dvw;
      white-space: nowrap; }

@media screen and (min-width: 768px) {
  footer h2 {
    font-size: 10dvw; }
  footer__talk {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/span 5;
    -ms-grid-row: 2;
    grid-row: 2; }
  footer__links {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/span 2;
    gap: 6dvw; }
    footer__links img {
      width: 5dvw;
      margin: 0 0 1em 0; } }

@media screen and (orientation: landscape) {
  footer h2 {
    font-size: 7dvw; }
  footer__talk {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/span 5;
    -ms-grid-row: 2;
    grid-row: 2; }
  footer__links {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/span 2;
    -ms-grid-row: 3;
    grid-row: 3;
    gap: 3dvw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0; }
    footer__links ul, footer__links li {
      font-size: 1.1em;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 1em 0 0; }
    footer__links img {
      width: 2em; } }

.o-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
  grid-template-columns: 1fr 5fr 1fr; }

@media screen and (min-width: 768px) {
  .o-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 3fr 1fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 3fr 1fr 1fr 3fr 1fr; } }

.js-text-link {
  -webkit-transition: color .5s;
  transition: color .5s;
  cursor: pointer; }
  .js-text-link:hover {
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #EDE9E4; }

.js-bgc--lt {
  background-color: #EDE9E4; }

.js-bgc--dk {
  background-color: #3B3B3B; }

button {
  background: #EDE9E4;
  color: #EDE9E4;
  display: block;
  border-color: transparent;
  padding: 0.5em 1.4em; }

.btn-prime {
  background: #ff0000;
  color: #EDE9E4;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  .btn-prime:hover, .btn-prime:focus {
    background: #47E0FC;
    color: #3B3B3B;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.btn-secondary {
  border: 1px solid #3B3B3B;
  color: #3B3B3B;
  isolation: isolate;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  .btn-secondary::before, .btn-secondary::after {
    content: '';
    inset: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: -1; }
  .btn-secondary:hover::before, .btn-secondary:focus::before {
    background: #2123DA;
    position: absolute;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .btn-secondary:hover, .btn-secondary:focus {
    background: #2123DA;
    border: 1px solid #3B3B3B;
    color: #EDE9E4;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.btn-tertiary {
  background: #3B3B3B;
  border-color: transparent;
  color: #EDE9E4;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 800;
  isolation: isolate;
  padding: 0.5em 1em;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .btn-tertiary::before, .btn-tertiary::after {
    content: "";
    display: block;
    inset: 50% 0 0 50%;
    position: absolute;
    z-index: -1; }
  .btn-tertiary::before {
    border: 0.05em solid #EDE9E4;
    height: 100%;
    -webkit-transition: border 0.5s;
    transition: border 0.5s;
    translate: -50% -50%;
    width: 100%; }
  .btn-tertiary::after {
    background: #3B3B3B;
    -webkit-clip-path: polygon(10% 0, 90% 0, 90% 25%, 100% 25%, 100% 75%, 90% 75%, 90% 100%, 10% 100%, 10% 75%, 0 75%, 0 25%, 10% 25%);
    clip-path: polygon(10% 0, 90% 0, 90% 25%, 100% 25%, 100% 75%, 90% 75%, 90% 100%, 10% 100%, 10% 75%, 0 75%, 0 25%, 10% 25%);
    -webkit-transform: scale(205%, 220%);
    transform: scale(205%, 220%);
    -webkit-transition: -webkit-clip-path 0.5s;
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s;
    translate: -50% -50%; }
  .btn-tertiary:hover {
    color: blue; }
    .btn-tertiary:hover::before {
      border: 0.05em solid #47E0FC;
      -webkit-transition: border 0.5s;
      transition: border 0.5s; }
    .btn-tertiary:hover::after {
      -webkit-clip-path: polygon(20% 0, 75% 0, 75% 40%, 100% 40%, 100% 60%, 85% 60%, 85% 100%, 20% 100%, 20% 60%, 0 60%, 0 40%, 20% 40%);
      clip-path: polygon(20% 0, 75% 0, 75% 40%, 100% 40%, 100% 60%, 85% 60%, 85% 100%, 20% 100%, 20% 60%, 0 60%, 0 40%, 20% 40%);
      -webkit-transition: color 0.5s, -webkit-clip-path 0.5s;
      transition: color 0.5s, -webkit-clip-path 0.5s;
      transition: clip-path 0.5s, color 0.5s;
      transition: clip-path 0.5s, color 0.5s, -webkit-clip-path 0.5s; }

.btn-icon {
  background: #3B3B3B;
  border-color: transparent;
  color: #47E0FC;
  font-size: 3dvw;
  isolation: isolate;
  line-height: .5;
  padding: 0em 0.25em 0.25em 0.25em;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .btn-icon::before, .btn-icon::after {
    content: "";
    display: block;
    inset: 50% 0 0 50%;
    position: absolute;
    z-index: -1; }
  .btn-icon::before {
    border: 0.05em solid #47E0FC;
    height: 100%;
    -webkit-transition: border 0.5s;
    transition: border 0.5s;
    translate: -50% -50%;
    width: 100%; }
  .btn-icon::after {
    background: #3B3B3B;
    -webkit-clip-path: polygon(25% 0, 75% 0, 90% 25%, 100% 25%, 100% 75%, 90% 75%, 75% 100%, 25% 100%, 10% 75%, 0 75%, 0 25%, 10% 25%);
    clip-path: polygon(25% 0, 75% 0, 90% 25%, 100% 25%, 100% 75%, 90% 75%, 75% 100%, 25% 100%, 10% 75%, 0 75%, 0 25%, 10% 25%);
    -webkit-transform: scale(210%, 220%);
    transform: scale(210%, 220%);
    -webkit-transition: -webkit-clip-path 0.5s;
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s;
    translate: -50% -50%; }
  .btn-icon:hover {
    color: #EDE9E4; }
    .btn-icon:hover::before {
      border: 0.05em solid #EDE9E4;
      -webkit-transition: border 0.5s;
      transition: border 0.5s; }
    .btn-icon:hover::after {
      -webkit-clip-path: polygon(35% 0, 65% 0, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%, 0 35%, 35% 35%);
      clip-path: polygon(35% 0, 65% 0, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%, 0 35%, 35% 35%);
      -webkit-transition: color 0.5s, -webkit-clip-path 0.5s;
      transition: color 0.5s, -webkit-clip-path 0.5s;
      transition: clip-path 0.5s, color 0.5s;
      transition: clip-path 0.5s, color 0.5s, -webkit-clip-path 0.5s; }

.btn-text {
  color: #47E0FC;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-text::before {
    background: #47E0FC;
    content: '';
    height: .04em;
    inset: auto auto -.075em 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 1em; }
  .btn-text:hover, .btn-text:focus {
    color: #EDE9E4;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .btn-text:hover::before, .btn-text:focus::before {
      background: #EDE9E4;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      width: 50%; }

.social {
  cursor: pointer;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s; }

.social:hover {
  -webkit-filter: invert(48%) sepia(80%) saturate(1000%) hue-rotate(325deg) brightness(70%) contrast(300%);
  filter: invert(48%) sepia(80%) saturate(1000%) hue-rotate(325deg) brightness(70%) contrast(300%);
  -webkit-transition: -webkit-filter .5s;
  transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s; }

@-webkit-keyframes scan {
  0% {
    -webkit-box-shadow: 0.08em 0.08em 1em 0.4em rgba(255, 255, 255, 0.75), -0.25em 0 0.01em 0.25em #2123DA, 1em 0 0.01em 0.25em #00ff00;
    box-shadow: 0.08em 0.08em 1em 0.4em rgba(255, 255, 255, 0.75), -0.25em 0 0.01em 0.25em #2123DA, 1em 0 0.01em 0.25em #00ff00;
    left: -32%;
    opacity: 1; }
  100% {
    -webkit-box-shadow: 0 0.08em 0.9em 0.4em rgba(255, 255, 255, 0.75), -1em 0 0.01em 0.25em #2123DA, 0 0 0.01em 0.25em #00ff00;
    box-shadow: 0 0.08em 0.9em 0.4em rgba(255, 255, 255, 0.75), -1em 0 0.01em 0.25em #2123DA, 0 0 0.01em 0.25em #00ff00;
    left: 140%;
    opacity: 1; } }

@keyframes scan {
  0% {
    -webkit-box-shadow: 0.08em 0.08em 1em 0.4em rgba(255, 255, 255, 0.75), -0.25em 0 0.01em 0.25em #2123DA, 1em 0 0.01em 0.25em #00ff00;
    box-shadow: 0.08em 0.08em 1em 0.4em rgba(255, 255, 255, 0.75), -0.25em 0 0.01em 0.25em #2123DA, 1em 0 0.01em 0.25em #00ff00;
    left: -32%;
    opacity: 1; }
  100% {
    -webkit-box-shadow: 0 0.08em 0.9em 0.4em rgba(255, 255, 255, 0.75), -1em 0 0.01em 0.25em #2123DA, 0 0 0.01em 0.25em #00ff00;
    box-shadow: 0 0.08em 0.9em 0.4em rgba(255, 255, 255, 0.75), -1em 0 0.01em 0.25em #2123DA, 0 0 0.01em 0.25em #00ff00;
    left: 140%;
    opacity: 1; } }

@-webkit-keyframes flicker {
  0% {
    opacity: 1; }
  5% {
    opacity: 0.9; }
  10% {
    opacity: 1; }
  15% {
    opacity: 0.85; }
  20% {
    opacity: 1; }
  45% {
    opacity: 0.9; }
  50% {
    opacity: 1; }
  55% {
    opacity: 0.85; }
  60% {
    opacity: 1; }
  70% {
    opacity: 0.9; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes flicker {
  0% {
    opacity: 1; }
  5% {
    opacity: 0.9; }
  10% {
    opacity: 1; }
  15% {
    opacity: 0.85; }
  20% {
    opacity: 1; }
  45% {
    opacity: 0.9; }
  50% {
    opacity: 1; }
  55% {
    opacity: 0.85; }
  60% {
    opacity: 1; }
  70% {
    opacity: 0.9; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.o-section__title--blue {
  color: #2123DA;
  text-transform: uppercase; }

.o-section__title--litblue {
  color: #47E0FC;
  text-transform: uppercase; }

.o-work__legend p b {
  color: #2123DA; }

.o-work__legend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 2em 0;
  padding: 1em 0 .25em 0; }
  .o-work__legend ul li {
    line-height: .5;
    margin: 0 1em 0 0; }

.o-work__legend--lang li {
  border: 1px solid #3B3B3B;
  border-radius: 2em;
  padding: 1em 1.5em; }

.o-work__legend--types li {
  border: 1px solid #3B3B3B;
  padding: 1em; }

@media screen and (min-width: 768px) {
  .o-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
    -ms-grid-row: 1;
    grid-row: 1;
    place-self: center start; }
  .o-work__legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .o-work__legend--lang li {
      border: 1px solid #3B3B3B;
      border-radius: 2em;
      padding: 1em 1.5em; }
    .o-work__legend--types li {
      border: 1px solid #3B3B3B;
      padding: 1em; } }

@media screen and (min-width: 1024px) {
  .o-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 2em 0 2em 3.5em;
    place-self: center start;
    top: 2.1em; } }

@media screen and (min-width: 1200px) {
  .o-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
    margin: 2em 0 2em 3.5em;
    place-self: center start;
    position: sticky;
    top: 1.4em;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr; } }

.o-tooltip {
  cursor: crosshair;
  font-family: sans-serif;
  isolation: isolate;
  position: relative; }
  .o-tooltip::before, .o-tooltip::after {
    background: #2123DA;
    translate: -50% 0;
    position: absolute;
    scale: 0; }
  .o-tooltip::before {
    color: #EDE9E4;
    content: attr(data-tooltip);
    inset: auto auto -5em 50%;
    padding: 1em;
    text-align: center;
    -webkit-transition: scale 0.15s 0.15s;
    transition: scale 0.15s 0.15s;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .o-tooltip::after {
    content: "";
    height: 1em;
    inset: auto auto -2.5em 50%;
    rotate: 45deg;
    -webkit-transition: scale 0.15s;
    transition: scale 0.15s;
    width: 1em; }
  .o-tooltip:hover::before {
    scale: 1;
    -webkit-transition: scale 0.25s;
    transition: scale 0.25s; }
  .o-tooltip:hover::after {
    scale: 1;
    -webkit-transition: scale 0.25s 0.2s;
    transition: scale 0.25s 0.2s;
    z-index: -1; }

.js-hover-image {
  cursor: pointer; }

.js-img-blur {
  background-size: cover;
  background-position: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%; }

.js-img-blur img {
  opacity: 0;
  -webkit-transition: all .65s;
  transition: all .65s; }

.js-img-blur .js-loaded {
  opacity: 1;
  -webkit-transition: all .65s;
  transition: all .65s; }

.js-hide {
  -webkit-filter: opacity(1);
  filter: opacity(1);
  -webkit-transition: all .65s;
  transition: all .65s; }

@media screen and (min-width: 1024px) {
  .js-hide {
    -webkit-filter: opacity(0);
    filter: opacity(0);
    -webkit-transition: all .65s;
    transition: all .65s; } }

.o-image--stack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr; }

.o-image--stack img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1; }

.o-image--stack video {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1; }

.o-circle, .o-circle-links, .o-circle-airplane {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(33, 35, 218, 0.6);
  backdrop-filter: blur(0.5em);
  -webkit-backdrop-filter: blur(0.5em);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 1;
  padding: 1.5em;
  position: absolute;
  top: 0;
  -webkit-transition: scale .25s, opacity .25s;
  transition: scale .25s, opacity .25s;
  scale: 100%;
  width: 5.5em;
  z-index: 30; }

.js-circle--invisible {
  opacity: 0;
  scale: 0%;
  -webkit-transition: scale .25s, opacity .25s;
  transition: scale .25s, opacity .25s; }

.js-links-invisible {
  opacity: 0;
  scale: 0%;
  -webkit-transition: scale .25s, opacity .25s;
  transition: scale .25s, opacity .25s; }

.js-airplane-invisible {
  opacity: 0;
  scale: 0%;
  -webkit-transition: scale .25s, opacity .25s;
  transition: scale .25s, opacity .25s; }

.js-parallax-about {
  -webkit-transition: all 2s;
  transition: all 2s; }

.social {
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s; }

.social:hover {
  -webkit-filter: invert(48%) sepia(80%) saturate(1000%) hue-rotate(325deg) brightness(70%) contrast(300%);
  filter: invert(48%) sepia(80%) saturate(1000%) hue-rotate(325deg) brightness(70%) contrast(300%);
  -webkit-transition: -webkit-filter .5s;
  transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background: rgba(237, 233, 228, 0.05);
  z-index: -1000; }

::-webkit-scrollbar-thumb {
  background: #2123DA; }

::-moz-selection {
  background-color: #00ff00;
  color: #3B3B3B; }

::selection {
  background-color: #00ff00;
  color: #3B3B3B; }

h1 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(3.5em, 18vw, 4em);
  line-height: .8;
  text-transform: uppercase; }

h2 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(2.5em, 10.5vw, 3em);
  line-height: 1; }

h3 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  color: #3B3B3B;
  font-size: 2.8em; }

h4 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1.5em, 2.5vw, 2em); }

h5 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 5.25vw, 2em);
  line-height: 1.42; }

h6 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 2.5vw, 1.5em); }

p, li {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-size: clamp(1em, 1.05vw, 1.1em);
  font-weight: 500;
  line-height: 1.5; }

span {
  color: inherit;
  font-family: "menca", sans-serif; }

.disclaimer {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-size: clamp(1em, 1.05vw, 1.1em);
  font-weight: 500;
  line-height: 1.5; }

p {
  margin: 0 0 1.5em 0; }

sup, sub {
  font-size: .5em; }

button {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 4vw, 1.15em);
  font-weight: 600; }

.o-disclaimer {
  font-size: 0.625em; }

.custom_li {
  display: inline-block; }

.o-bgc-lt h1, .o-bgc-lt h2, .o-bgc-lt h3, .o-bgc-lt h4, .o-bgc-lt h5, .o-bgc-lt h6, .o-bgc-lt p, .o-bgc-lt li {
  color: #3B3B3B; }

nav h4, nav p, nav .disclaimer {
  color: #EDE9E4; }

.c-hero h1, .c-hero h5 {
  color: #EDE9E4; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 11.5vw; }
  h5 {
    font-size: 3vw; }
  button {
    font-size: clamp(1em, 4vw, 1.1em); } }

@media screen and (orientation: landscape) {
  h1 {
    font-size: 7.5vw; }
  h5 {
    font-size: clamp(1em, 4vw, 1.15em); }
  button {
    font-size: clamp(1em, 4vw, 1.15em); } }

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 7.5vw; }
  h2 {
    font-size: 3vw; }
  h5 {
    font-size: 1.3vw; }
  h6 {
    font-size: clamp(1em, 2.5vw, 1.35em); } }

.js-logo-rise {
  -webkit-transition: translate .5s .2s;
  transition: translate .5s .2s;
  translate: 0 -5em; }

.js-logo-move {
  -webkit-transition: translate .5s .2s;
  transition: translate .5s .2s;
  translate: 5em 0; }

.js-icon-rise {
  -webkit-transition: translate .5s .2s;
  transition: translate .5s .2s;
  translate: 0 -5em; }

.js-burger-rise {
  -webkit-transition: translate .25s;
  transition: translate .25s;
  translate: 0 -5em; }

.js-burger-move {
  -webkit-transition: translate .5s;
  transition: translate .5s;
  translate: 5em 0; }

.js-noparallax {
  translate: 0 0; }

.js-bgc--dk {
  -webkit-transition: all .5s;
  transition: all .5s; }

.js-bgc--lt {
  -webkit-transition: all .5s;
  transition: all .5s; }

.js-logo-invisible {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }

.js-icon-invisible {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }

.o-noscroll {
  overflow-y: hidden; }

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 3.5em;
  inset: auto 0 auto auto;
  place-items: end;
  position: fixed;
  width: 4.5em;
  z-index: 777; }

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 2fr;
  grid-template-rows: 2fr;
  inset: 1.5em auto auto auto;
  position: sticky;
  z-index: 776; }
  header .o-logo {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-rows: 2em;
    grid-template-rows: 2em;
    padding: 0 1.5em;
    -webkit-transition: translate .25s, opacity 1s;
    transition: translate .25s, opacity 1s; }
    header .o-logo img {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      grid-row: 1;
      height: 100%;
      margin: 0 auto; }
  header .o-icon {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 0 0 0 1.2em;
    -webkit-transition: translate .25s, opacity 1s;
    transition: translate .25s, opacity 1s; }
    header .o-icon a {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 2em;
      grid-template-rows: 2em; }
    header .o-icon img {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      grid-row: 1;
      height: 100%; }
    header .o-icon .o-icon--lt img {
      place-self: start; }

.c-burger {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 1em;
  isolation: isolate;
  -webkit-transition: translate .25s;
  transition: translate .25s;
  width: 1.5em;
  place-self: start end; }
  .c-burger__toggler {
    cursor: pointer;
    height: 1.25em;
    inset: 0 0 auto auto;
    opacity: 0;
    position: absolute;
    translate: clamp(-1em, -6dvw, -1.75em) clamp(1em, 6dvw, 1.5em);
    width: 1.25em;
    z-index: 3; }
  .c-burger__container--lt {
    cursor: pointer;
    height: 1.5em;
    inset: 0 0 auto auto;
    position: absolute;
    -webkit-transition: width .5s;
    transition: width .5s;
    translate: clamp(-1.25em, -6.5dvw, -2em) clamp(1.75em, 2dvw, 1.75em);
    width: 1em;
    z-index: 2; }
    .c-burger__container--lt::before {
      background: #EDE9E4;
      content: '';
      height: 3px;
      inset: 0 0 auto auto;
      position: absolute;
      -webkit-transition: width .5s, inset .5s, rotate .5s;
      transition: width .5s, inset .5s, rotate .5s;
      width: 1.5em; }
    .c-burger__container--lt::after {
      background: #EDE9E4;
      content: '';
      height: 3px;
      inset: auto 0 .4em auto;
      position: absolute;
      -webkit-transition: width .5s, inset .5s, rotate .5s;
      transition: width .5s, inset .5s, rotate .5s;
      width: 1.5em; }
  .c-burger__container--dk {
    cursor: pointer;
    height: 1.5em;
    inset: 0 0 auto auto;
    position: absolute;
    -webkit-transition: width .5s;
    transition: width .5s;
    translate: clamp(-1.25em, -6.5dvw, -2em) clamp(1.75em, 2dvw, 1.75em);
    width: 1em;
    z-index: 2; }
    .c-burger__container--dk::before {
      background: #3B3B3B;
      content: '';
      height: 3px;
      inset: 0 0 auto auto;
      position: absolute;
      -webkit-transition: width .5s, inset .5s, rotate .5s;
      transition: width .5s, inset .5s, rotate .5s;
      width: 1.5em; }
    .c-burger__container--dk::after {
      background: #3B3B3B;
      content: '';
      height: 3px;
      inset: auto 0 .4em auto;
      position: absolute;
      -webkit-transition: width .5s, inset .5s, rotate .5s;
      transition: width .5s, inset .5s, rotate .5s;
      width: 1.5em; }
  .c-burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    height: 100dvh;
    inset: 0 0 auto auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 0;
    padding: clamp(1.5em, 6dvw, 3.5em) 2em;
    position: absolute;
    translate: 150dvw 0;
    -webkit-transition: translate .5s, opacity .2s 1s;
    transition: translate .5s, opacity .2s 1s;
    width: 100dvw;
    z-index: 1; }
    .c-burger__menu p {
      border-bottom: 1px solid rgba(237, 233, 228, 0.5);
      color: #EDE9E4;
      opacity: 0;
      padding: 0 0 1em 0;
      -webkit-transition: opacity .1s 1s;
      transition: opacity .1s 1s;
      text-transform: uppercase; }
    .c-burger__menu ul {
      margin: 0;
      padding: 0; }
    .c-burger__menu li {
      color: #EDE9E4;
      cursor: pointer;
      font-size: 4em;
      line-height: 1.2;
      font-weight: 900;
      opacity: 0;
      text-transform: uppercase;
      -webkit-transition: opacity 0s 1s;
      transition: opacity 0s 1s;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content; }
    .c-burger__menu h4 {
      cursor: pointer;
      opacity: 0;
      -webkit-transition: opacity .1s 1s;
      transition: opacity .1s 1s;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .c-burger__menu .js-text-link {
      color: #EDE9E4; }
      .c-burger__menu .js-text-link:hover {
        color: #EDE9E4; }
    .c-burger__menu--icons {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      border-top: 1px solid rgba(237, 233, 228, 0.5);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      opacity: 0;
      padding: 1em  0 0 0;
      -webkit-transition: opacity .1s 1s;
      transition: opacity .1s 1s; }
      .c-burger__menu--icons .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .c-burger__menu--icons img {
        cursor: pointer;
        margin-right: 1em;
        width: 2.5em; }
    .c-burger__menu .disclaimer {
      font-size: .675em; }
    .c-burger__menu::before {
      background: rgba(33, 35, 218, 0.75);
      content: '';
      backdrop-filter: blur(1.25em);
      -webkit-backdrop-filter: blur(1.25em);
      inset: 0;
      opacity: 0;
      position: absolute;
      -webkit-transition: opacity .1s 1s;
      transition: opacity .1s 1s;
      z-index: -1; }
  .c-burger__toggler:hover + .c-burger__container--lt::before, .c-burger__toggler:hover + .c-burger__container--dk::before, .c-burger__toggler:focus + .c-burger__container--lt::before, .c-burger__toggler:focus + .c-burger__container--dk::before {
    -webkit-transition: width .5s;
    transition: width .5s;
    -webkit-transition: inset .5s, rotate .5s, width .5s;
    transition: inset .5s, rotate .5s, width .5s; }
  .c-burger__toggler:hover + .c-burger__container--lt::after, .c-burger__toggler:hover + .c-burger__container--dk::after, .c-burger__toggler:focus + .c-burger__container--lt::after, .c-burger__toggler:focus + .c-burger__container--dk::after {
    -webkit-transition: width .5s;
    transition: width .5s;
    -webkit-transition: inset .5s, rotate .5s, width .5s;
    transition: inset .5s, rotate .5s, width .5s;
    width: 1em; }
  .c-burger__toggler:checked + .c-burger__container--lt::before, .c-burger__toggler:checked + .c-burger__container--dk::before, .c-burger__toggler:checked + .c-burger__container--lt::after, .c-burger__toggler:checked + .c-burger__container--dk::after {
    -webkit-transition: inset .5s, rotate .5s, width .5s;
    transition: inset .5s, rotate .5s, width .5s;
    width: 2em; }
  .c-burger__toggler:checked + .c-burger__container--lt::before, .c-burger__toggler:checked + .c-burger__container--dk::before {
    background: #EDE9E4;
    inset: .65em 0 auto auto;
    rotate: 315deg; }
  .c-burger__toggler:checked + .c-burger__container--lt::after, .c-burger__toggler:checked + .c-burger__container--dk::after {
    background: #EDE9E4;
    inset: auto 0 0.65em auto;
    rotate: 405deg; }
  .c-burger__toggler:checked ~ .c-burger__menu {
    border-radius: 0;
    height: 100dvh;
    opacity: 1;
    translate: 0 0;
    -webkit-transition: translate .5s, opacity .1s;
    transition: translate .5s, opacity .1s; }
    .c-burger__toggler:checked ~ .c-burger__menu::before {
      opacity: 1;
      -webkit-transition: opacity .1s;
      transition: opacity .1s; }
  .c-burger .js-nav-build--in {
    opacity: 1;
    -webkit-transition: all .8s 300ms;
    transition: all .8s 300ms; }

@media screen and (min-width: 768px) {
  header {
    width: 100dvw; }
    header .o-logo img {
      margin: 0;
      place-self: start;
      width: initial; }
    header .o-icon img {
      place-self: start;
      padding: 0; } }

@media screen and (orientation: landscape) {
  nav {
    display: absolute;
    height: 3.5em;
    inset: 0 0 auto auto;
    margin: 0;
    position: fixed;
    width: 4.5em;
    z-index: 999; }
  .c-burger {
    inset: auto 0 auto auto;
    margin: 0; }
    .c-burger__toggler {
      translate: clamp(-1.5em, -6dvw, -1.75em) clamp(1em, 6dvw, 1.5em); }
    .c-burger__container {
      translate: clamp(-1.75em, -6.5dvw, -2em) clamp(1.75em, 2dvw, 1.75em); }
    .c-burger__bg {
      translate: clamp(-1em, -8.5dvw, -1em) clamp(0.75em, 2dvw, 0.75em); }
    .c-burger__menu {
      inset: 0 0 auto auto;
      -webkit-transition: translate .5s, opacity 0s .6s;
      transition: translate .5s, opacity 0s .6s;
      translate: 45dvw 0;
      width: 45dvw; }
      .c-burger__menu::before {
        -webkit-box-shadow: 0 0 0 black, -0.15em 0 2em #282828, inset 2em 2em 4em #2123DA;
        box-shadow: 0 0 0 black, -0.15em 0 2em #282828, inset 2em 2em 4em #2123DA; }
      .c-burger__menu--icons {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .c-burger--divider {
      position: absolute;
      height: 100dvh;
      inset: 0 0 auto auto;
      opacity: 0;
      -webkit-transition: all 1s, translate 1s .5s;
      transition: all 1s, translate 1s .5s;
      translate: 100dvw 0;
      width: 100dvw; }
    .c-burger__toggler:checked ~ .c-burger__menu {
      translate: 0 0; }
      .c-burger__toggler:checked ~ .c-burger__menu::before {
        -webkit-box-shadow: -0.15em 0 2em #282828, inset 2em 2em 4em #2123DA;
        box-shadow: -0.15em 0 2em #282828, inset 2em 2em 4em #2123DA;
        -webkit-transition: translate .5s, -webkit-box-shadow .5s;
        transition: translate .5s, -webkit-box-shadow .5s;
        transition: translate .5s, box-shadow .5s;
        transition: translate .5s, box-shadow .5s, -webkit-box-shadow .5s; }
    .c-burger__toggler:checked ~ .c-burger--divider {
      background: rgba(237, 233, 228, 0.05);
      backdrop-filter: blur(0.875em);
      -webkit-backdrop-filter: blur(0.875em);
      -webkit-box-shadow: inset 0.2em 0 0.5em rgba(53, 53, 53, 0.75);
      box-shadow: inset 0.2em 0 0.5em rgba(53, 53, 53, 0.75);
      inset: 0 0 auto auto;
      opacity: 1;
      position: absolute;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
      translate: 0 0; } }

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ul, figure, blockquote, dl, dd {
  margin: 0; }

ul[role='list'], ol[role='list'] {
  list-style: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

html:focus-within {
  scroll-behavior: smooth; }

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6; }

img, picture, video {
  max-width: 100%;
  display: block; }

input, button, textarea, select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; } }

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

::-moz-selection {
  background-color: #00ff00;
  color: #3B3B3B; }

::selection {
  background-color: #00ff00;
  color: #3B3B3B; }

h1 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(3.5em, 18vw, 4em);
  line-height: .8;
  text-transform: uppercase; }

h2 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(2.5em, 10.5vw, 3em);
  line-height: 1; }

h3 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  color: #3B3B3B;
  font-size: 2.8em; }

h4 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1.5em, 2.5vw, 2em); }

h5 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 5.25vw, 2em);
  line-height: 1.42; }

h6 {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 2.5vw, 1.5em); }

p, li {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-size: clamp(1em, 1.05vw, 1.1em);
  font-weight: 500;
  line-height: 1.5; }

span {
  color: inherit;
  font-family: "menca", sans-serif; }

.disclaimer {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-size: clamp(1em, 1.05vw, 1.1em);
  font-weight: 500;
  line-height: 1.5; }

p {
  margin: 0 0 1.5em 0; }

sup, sub {
  font-size: .5em; }

button {
  color: #3B3B3B;
  font-family: "menca", sans-serif;
  font-weight: 900;
  font-size: clamp(1em, 4vw, 1.15em);
  font-weight: 600; }

.o-disclaimer {
  font-size: 0.625em; }

.custom_li {
  display: inline-block; }

.o-bgc-lt h1, .o-bgc-lt h2, .o-bgc-lt h3, .o-bgc-lt h4, .o-bgc-lt h5, .o-bgc-lt h6, .o-bgc-lt p, .o-bgc-lt li {
  color: #3B3B3B; }

nav h4, nav p, nav .disclaimer {
  color: #EDE9E4; }

.c-hero h1, .c-hero h5 {
  color: #EDE9E4; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 11.5vw; }
  h5 {
    font-size: 3vw; }
  button {
    font-size: clamp(1em, 4vw, 1.1em); } }

@media screen and (orientation: landscape) {
  h1 {
    font-size: 7.5vw; }
  h5 {
    font-size: clamp(1em, 4vw, 1.15em); }
  button {
    font-size: clamp(1em, 4vw, 1.15em); } }

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 7.5vw; }
  h2 {
    font-size: 3vw; }
  h5 {
    font-size: 1.3vw; }
  h6 {
    font-size: clamp(1em, 2.5vw, 1.35em); } }

html {
  scroll-behavior: smooth; }

body {
  background: #3B3B3B;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  overflow-x: clip;
  padding: 0; }

section {
  min-height: 100vh;
  position: relative;
  width: 100vw;
  overflow: clip;
  padding: 6em 0; }

.c-page--load {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: heroLoad 1s cubic-bezier(0.59, 0, 0.13, 1) 1.75s 1 forwards;
  animation: heroLoad 1s cubic-bezier(0.59, 0, 0.13, 1) 1.75s 1 forwards;
  background: #EDE9E4;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  inset: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 1000; }
  .c-page--load h3 {
    -webkit-animation: heroFadeIn 1s cubic-bezier(0.59, 0, 0.13, 1) 1 forwards;
    animation: heroFadeIn 1s cubic-bezier(0.59, 0, 0.13, 1) 1 forwards;
    color: #3B3B3B;
    opacity: 0; }

@-webkit-keyframes heroLoad {
  from {
    translate: 0 0; }
  to {
    translate: 0 -150%; } }

@keyframes heroLoad {
  from {
    translate: 0 0; }
  to {
    translate: 0 -150%; } }

@-webkit-keyframes heroGrow {
  from {
    height: 0%;
    width: 0%; }
  to {
    height: 100%;
    width: 100%; } }

@keyframes heroGrow {
  from {
    height: 0%;
    width: 0%; }
  to {
    height: 100%;
    width: 100%; } }

@-webkit-keyframes heroFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes heroFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.c-intro {
  color: #EDE9E4;
  -ms-grid-rows: (auto)[4];
  grid-template-rows: repeat(4, auto);
  padding: 0 0 6em 0; }
  .c-intro h2, .c-intro p {
    color: #EDE9E4; }
  .c-intro__image {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    place-self: end; }
  .c-intro__description {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4; }
    .c-intro__description h2 {
      margin: 0 0 1em 0; }
    .c-intro__description p {
      border-top: 1px solid #EDE9E4;
      padding: 1em 0 0 0; }

.c-about {
  background: #EDE9E4 url("/assets/icon-lg-outline.svg") no-repeat;
  background-attachment: fixed;
  background-position: 0% 45%;
  background-size: 50%;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto; }
  .c-about__opener {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 0 0 1em 0;
    place-self: start end; }
    .c-about__opener h4 {
      text-wrap: balance;
      width: 14vw;
      line-height: 1; }
  .c-about__copy {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2; }
    .c-about__copy p {
      margin: 0 0 1em 0; }
    .c-about__copy p:last-of-type {
      border-bottom: 1px solid #3B3B3B;
      padding: 0 0 1em 0; }

@media screen and (min-width: 768px) {
  .c-intro {
    -ms-grid-rows: (1fr)[12];
    grid-template-rows: repeat(12, 1fr); }
    .c-intro__image {
      -ms-grid-column: 3;
      -ms-grid-column-span: 4;
      grid-column: 3/span 4;
      -ms-grid-row: 2;
      -ms-grid-row-span: 6;
      grid-row: 2/span 6;
      place-self: start; }
    .c-intro__description {
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
      grid-column: 3/span 3;
      -ms-grid-row: 10;
      -ms-grid-row-span: 2;
      grid-row: 10/span 2;
      place-self: end start; }
  .c-about {
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em; }
    .c-about__opener {
      -ms-grid-column: 3;
      grid-column: 3;
      text-align: right; }
    .c-about__copy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 0 2em;
      -ms-grid-column: 4;
      -ms-grid-column-span: 3;
      grid-column: 4/span 3;
      -ms-grid-row: 1;
      grid-row: 1;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
      .c-about__copy p {
        -webkit-box-flex: 1;
        -ms-flex: 1 4 40%;
        flex: 1 4 40%; } }

@media screen and (min-width: 1024px) {
  .c-intro {
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em; }
    .c-intro__image {
      -ms-grid-column: 4;
      -ms-grid-column-span: 3;
      grid-column: 4/span 3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 9;
      grid-row: 2/span 9;
      place-self: end; }
    .c-intro__description {
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-column: 2/span 2;
      -ms-grid-row: 6;
      -ms-grid-row-span: 5;
      grid-row: 6/span 5;
      padding: 0 25% 0 0;
      place-self: end start; } }
